<div>
  <app-nav-bar></app-nav-bar>
</div>

<div class="container">
  <div class="sumaMuroContainer border rounded mb-5 pt-5">

    <mat-form-field appearance="outline">
      <mat-label>Ingrese Muro</mat-label>
      <input matInput name="muro" type="text" class="mat-form-field" id="muro" #muro>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput name="metros" type="number" class="mat-form-field" placeholder="Metros Muro" id="metros" #metro>
    </mat-form-field>

    <button class="btn btn-secondary" (click)="sumaMuro(metro.value)" (click)="muestraMuro(muro.value)"
      (click)="funciona()">Agregar Muro</button>

  </div>

  <div *ngIf="muestradiv" class="accordion accordion-flush" id="muestraMuroAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="false" aria-controls="collapseOne">
          Mostrar Muros Ingresados
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#muestraMuroAccordion">
        <div class="accordion-body muroIngresado">
          <ul *ngFor="let item of series" class="list-group">
            <li *ngFor="let itemAux of item | keyvalue" class="listaMuro list-group-item list-group-item-success">{{itemAux.key}} : {{itemAux.value}}</li>
            <button class="mx-4" mat-icon-button color="warn" (click)="borraItem(cod1)">
              <mat-icon>delete</mat-icon>
            </button>
          </ul>
        </div>
      </div>
    </div>    
  </div>
</div>



  <div class="contenedor container border rounded mb-5">

    <mat-form-field class="mx-3">
      <input matInput [(ngModel)]="this.total" type="number" placeholder="Total Mts.Lineales">
    </mat-form-field>

    <mat-form-field class="mx-3">
      <mat-select placeholder="Paneles" [(ngModel)]="seleccionada" name="panel">
        <mat-option *ngFor="let op of paneles" [value]="op.valor">
          {{op.muestraValor}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mx-3">
      <mat-select placeholder="Altura Muros" [(ngModel)]="selecalMuro" name="alMuro">
        <mat-option *ngFor="let al of alMuros" [value]="al.Valor">
          {{al.Valor}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!----
  <mat-form-field>
    <input matInput [(ngModel)]="this.resultado" type="number"  placeholder="Tot Mts Cuadrados">
  </mat-form-field>
   
  <mat-form-field>
    <input matInput [(ngModel)]="this.resultado1" type="number" placeholder="Cantidad Paneles">
  </mat-form-field>
  ---->
    <mat-form-field class="mx-3">
      <input matInput [(ngModel)]="articuloselect.precio" type="number" placeholder="Precio Unitario">
      <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field class="mx-3">
      <input matInput [(ngModel)]="articuloselect.mobraUni" type="number" placeholder="Mano Obra Unitaria">
      <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field class="mx-3">
      <input matInput [(ngModel)]="articuloselect.otros" type="number" placeholder="Otros">
      <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

    <button class="mx-2" mat-raised-button color="primary" (click)="operar()">Operar</button>
    <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
  </div>



  <div class="container">
    <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

      <ng-container matColumnDef="metrosL">
        <th mat-header-cell *matHeaderCellDef> Metros Lineales </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.metrosL}} </td>
      </ng-container>

      <ng-container matColumnDef="tipoPanel">
        <th mat-header-cell *matHeaderCellDef> Tipo Panel </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.tipoPanel}} </td>
      </ng-container>
      <ng-container matColumnDef="totM2">
        <th mat-header-cell *matHeaderCellDef> Total Mtr Cuadrados </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.totM2 | number}} </td>
      </ng-container>
      <ng-container matColumnDef="cPaneles">
        <th mat-header-cell *matHeaderCellDef> Cantidad Paneles </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.cPaneles | number}} </td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.precio | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="matTotales">
        <th mat-header-cell *matHeaderCellDef> Materiales Totales </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.matTotales | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="mobraUni">
        <th mat-header-cell *matHeaderCellDef> Mano Obra Unitaria </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.mobraUni | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="mobraTot">
        <th mat-header-cell *matHeaderCellDef> Mano Obra Totales </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.mobraTot | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="otros">
        <th mat-header-cell *matHeaderCellDef> Otros </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.otros | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="totales">
        <th mat-header-cell *matHeaderCellDef> Totales </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.totales | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let j = index;">
          <button mat-icon-button color="warn" (click)="borrarFila(j)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
  </div>