/* table {
    width: 50%;
    margin:1rem auto;
 } */
 .sumaMuroContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column;
   margin: 1rem auto;
   padding: 1rem;
   width: 30rem;
   background-color: white;

 }
 .muroIngresado{
   display: flex;
   justify-content: left;
   align-items:flex-start;      
   padding: 1rem;
   margin: 1rem;
   width: fit-content;      
   background-color: white;
   

 }
 ul li.listaMuro{
  list-style: none;
  
 }

 .contenedor {
    display: flex;  
    justify-content: center;
    align-items: baseline;  
    margin:1rem auto;        
    padding: 1rem;
    background-color: whitesmoke;

}
mat-form-field{
   font-size: 14px;   
   
}
