<div>
  <app-nav-bar></app-nav-bar>
</div>

<div class="sumaMuroContainer container border rounded mb-5 pt-5" >
  
  <mat-form-field>
    <input matInput [(ngModel)]="seleccion" type="string" placeholder="Muros" #murito>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="metro" type="number" placeholder="Metros Muro" #muro>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="sumaMuro(muro.value)">Agregar Item</button> 
  <ul *ngFor="let pepe of datos1">
    <li> {{pepe}} </li>
  </ul>
 
 </div>
 
    
  
<div class="contenedor container border rounded mb-5" >

  <mat-form-field class="mx-3">
    <input matInput [(ngModel)]="this.total" type="number" placeholder="Total Mts.Lineales">
  </mat-form-field>

  <mat-form-field class="mx-3">
    <mat-select placeholder="Paneles" [(ngModel)]="seleccionada" name="panel">
      <mat-option *ngFor="let op of paneles" [value]="op.valor">
        {{op.muestraValor}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="mx-3">
    <mat-select placeholder="Altura Muros" [(ngModel)]="selecalMuro" name="alMuro">
      <mat-option *ngFor="let al of alMuros" [value]="al.Valor">
        {{al.Valor}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!----
  <mat-form-field>
    <input matInput [(ngModel)]="this.resultado" type="number"  placeholder="Tot Mts Cuadrados">
  </mat-form-field>
   
  <mat-form-field>
    <input matInput [(ngModel)]="this.resultado1" type="number" placeholder="Cantidad Paneles">
  </mat-form-field>
  ---->
  <mat-form-field class="mx-3">
    <input matInput [(ngModel)]="articuloselect.precio" type="number" placeholder="Precio Unitario">
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>
 
  <mat-form-field class="mx-3">
    <input matInput [(ngModel)]="articuloselect.mobraUni" type="number" placeholder="Mano Obra Unitaria">
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>
    
  <mat-form-field class="mx-3">
    <input matInput [(ngModel)]="articuloselect.otros" type="number" placeholder="Otros" (change)="operar()">
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>

  <button class="mx-2" mat-raised-button color="primary" (click)="operar()">Operar</button> 
  <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
  

</div>


<div class="container">
  <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>
  
    <ng-container matColumnDef="metrosL">
      <th mat-header-cell *matHeaderCellDef> Metros Lineales </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.metrosL}} </td>
    </ng-container>
  
    <ng-container matColumnDef="tipoPanel">
      <th mat-header-cell *matHeaderCellDef> Tipo Panel </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.tipoPanel}} </td>
    </ng-container>
    <ng-container matColumnDef="totM2">
      <th mat-header-cell *matHeaderCellDef> Total Mtr Cuadrados </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.totM2 | number}} </td>
    </ng-container>
    <ng-container matColumnDef="cPaneles">
      <th mat-header-cell *matHeaderCellDef> Cantidad Paneles </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.cPaneles | number}} </td>
    </ng-container>
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.precio | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="matTotales">
        <th mat-header-cell *matHeaderCellDef> Materiales Totales </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.matTotales | currency}} </td>
        </ng-container>
    <ng-container matColumnDef="mobraUni">
      <th mat-header-cell *matHeaderCellDef> Mano Obra Unitaria </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.mobraUni | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="mobraTot">
      <th mat-header-cell *matHeaderCellDef> Mano Obra Totales </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.mobraTot | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="otros">
      <th mat-header-cell *matHeaderCellDef> Otros </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.otros | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="totales">
      <th mat-header-cell *matHeaderCellDef> Totales </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.totales | currency}} </td>
    </ng-container>
  
    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let j = index;">
        <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
          Borra?
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
</div>

